---
search: false
---
// Design inspired by: https://calm-workshop-2024.github.io/schedule/
@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

/* ==========================================================================
   My skin (copied Air skin)
   ========================================================================== */

/* Colors (Air skin) */
$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
$primary-color: #0092ca !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;


/* colors overwrite */
$background-color: white;
$border-color: black;
$footer-background-color: $background-color;
$primary-color: black;

// import minimal-mistakes
@import "minimal-mistakes"; // main partials

$border-width: 2px; // border width


h1#page-title {
    color: $text-color;
}

.page__hero--overlay {
    padding-top: 4em; // identical to height of masthead
    padding-bottom: 1.5em;
    margin-bottom: 0;

    .page__title {
        text-shadow: none !important;
        padding-top: 1em;
    }

    .page__lead {
        color: $muted-text-color !important;
        text-shadow: none !important;
    }
}

.masthead {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 0;
    z-index: 1000;

    .masthead__menu {
        //width: fit-content;
        margin: auto;
    }
}

.greedy-nav {
    backdrop-filter: blur(.1rem);
    background-color: mix($background-color, #ffffff00, 70%); // make a bit transparent
    // line border
    border-top: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;
    // alt: round border
    //border-radius: 0.6rem !important;

    .visible-links {
        justify-content: space-around;
    }
}


table {
    display: table;
    //every second row slighlty darker

    thead {
        background-color: $background-color;
        border-top: $border-color solid $border-width;
    }

    //tbody tr:nth-child(odd) {
    //    //background-color: #f9f9f9;
    //    background-color: mix($background-color, #000, 95%);
    //}
    tbody {

        tr:nth-child(even) {
            //background-color: #f9f9f9;
            background-color: mix($background-color, #1d3557, 70%);
        }

        // TODO: colors to variables
        tr.break {
            background-color: #f1faee;
        }

        tr.presentation {
            background-color: #a8dadc;
        }

        tr.other {
            background-color: #1d3557;
            color: #f1faee;
        }

        tr.special {
            //background-color: #e63946;
            background-color: $background-color;
        }
    }
}

.page__content {
    border-top: $border-width solid $border-color;

    h1 {
        padding-top: 1.5em;
    }
}


.page__footer {
    //color: #fff !important; // override
    color: $text-color !important; // override
    margin-top: 1em;

    footer {
        border-top: $border-width solid $border-color;
        margin-top: 1em;
        padding-top: 1em;

        // follow and copyright texts
        div {
            margin-left: auto;
            margin-right: auto;
            max-width: fit-content;
        }
    }
}

.page__footer-follow .social-icons .svg-inline--fa {
    color: inherit;
}